@charset "utf-8";

.sprite {
  background-image:  url(ja.png);
  background-repeat: no-repeat;
  text-indent:       -9999px;
  overflow:          hidden;
  display:           block;
}

#close       {background-position:     0 0; width: 33px; height: 33px;}
#close:hover {background-position: -33px 0; width: 33px; height: 33px;}

#first_scene         {background-position:  -66px 0; width: 100px; height: 33px;}
#first_scene:hover   {background-position: -165px 0; width: 105px; height: 33px;}
#first_scene_disable {background-position: -265px 0; width: 100px; height: 33px;}

#prev_scene         {background-position:      0 -31px; width: 100px; height: 33px;}
#prev_scene:hover   {background-position:  -99px -31px; width: 100px; height: 33px;}
#prev_scene_disable {background-position: -199px -31px; width: 100px; height: 33px;}

#vote         {background-position:      0 -64px; width: 141px; height: 46px;}
#vote:hover   {background-position: -141px -64px; width: 141px; height: 46px;}
#vote_disable {background-position: -282px -64px; width: 141px; height: 46px;}

#bookmark         {background-position:      0 -109px; width: 141px;height: 46px;}
#bookmark:hover   {background-position: -141px -109px; width: 141px;height: 46px;}
#bookmark_disable {background-position: -282px -109px; width: 142px;height: 46px;}

#next {background-position: 0 -156px;width: 300px;height: 62px;}
#next:hover {background-position: 0 -218px;width: 300px;height: 62px;}

#start {background-position: -299px -156px;width: 61px;height: 61px;}
#start:hover {background-position: -360px -156px;width: 61px;height: 61px;}

