#reader_reader{
  margin:0;
  z-index:100;
}

.menu_bar_design {
	width: 100%;
	border-top: 2px solid #555;
	height: 27px;
	position:absolute;
	background:#1F1F1F;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MDQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSI2Ni4wNzE0Mjg1NzE0Mjg1NyUiPgo8c3RvcCBzdG9wLWNvbG9yPSIjM0IzQjNCIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTcxNzE3IiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnNTA0KSIgLz4KPC9zdmc+);
}

.menu_font {
	text-align:center;
	text-indent:0;
	font-size: 90%;
	line-height:28px;
}
.menu_left {
	float:left;
	border-right:1px solid #000;
}
.menu_right {
	float:right;
	border-left:1px solid #000;
}

#progress {
  color:white;
  z-index:10;
}

#menu_bar, #menu_bar_fullscreen {
	width: 80px;
	height: 27px;
}

#setting, #change_mode {
	color:#999;
	padding:0 10px;
	height:27px;
}
#setting:hover, #change_mode:hover,
#setting.active, #change_mode.active {
	color:#FFF;
	cursor:pointer;
}
#setting.disable, #change_mode.disable {
	color:#555;
}




#reader_container {
    padding:0;
    margin:0;
    position:relative;
    z-index:10;
}

#reader_container.full {
    background-color: #000000;
    padding:0;
    margin:0;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0
}
#reader_header.full {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    color: #FFF;
    margin:0;
    padding: 4px;
    background: -moz-linear-gradient(top, #666, #000 60%, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#666), color-stop(0.6, #000), to(#000));
    text-align: left;
}
#reader_wrapper.full {
    position: absolute;
    margin:0;
    top:96px;
    width:100%;
    text-align:center;
}

.caption {
    font-size: 120%;
    color:#909090;
    position: relative;
    margin: 8px 4px 8px 4px;
    font-weight: bold;
}
#caption_title {
    font-size: 160%;
    color:#ffffff;
}
#arrow_left  {
    left:5%;top:45%;position:absolute;z-index:99;
}
#arrow_right {
    right:5%;top:45%;position:absolute;z-index:99;
}

#reader_reader.full {
    position:relative;margin:auto;
}


#menu_bar_reader.full {
    position:relative;
    bottom:0px;
    top:0px;
    padding:0;
    margin:auto;
    width:100%;
}
#reader_footer.full {
    position:absolute;
    width:100%;
    bottom:0px;
    height:28px;
}



.sprite {
	display:table;
	box-sizing:border-box;
}
.sprite div {
	display:table-cell;
	vertical-align:middle;
}
.sprite span {
	background-image: url(ja.pc.png?v=6);
	background-size: 160px 112px; 
	background-repeat:no-repeat; 
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	margin:auto;
}
#menu_first      		  		{width: 27px;height: 26px; cursor: pointer;}
#menu_first span				{background-position: 0 0; width: 20px; height: 20px;}
#menu_first:hover span, 
#menu_first.active span  		{background-position:-20px 0; width: 20px; height: 20px;}
#menu_first.disable span		{background-position:-40px 0; width: 20px; height: 20px;}	

#menu_prev      		  		{width: 27px;height: 26px; cursor: pointer;}
#menu_prev span					{background-position: 0 -20px; width: 20px; height: 20px;}
#menu_prev:hover span, 
#menu_prev.active span  		{background-position:-20px -20px; width: 20px; height: 20px;}
#menu_prev.disable span			{background-position:-40px -20px; width: 20px; height: 20px;}	

#menu_next      		  		{width: 27px;height: 26px; cursor: pointer;}
#menu_next span					{background-position: 0 -40px; width: 20px; height: 20px;}
#menu_next:hover span, 
#menu_next.active span  		{background-position:-20px -40px; width: 20px; height: 20px;}
#menu_next.disable span			{background-position:-40px -40px; width: 20px; height: 20px;}	

#menu_fullscreen      		  	{width: 27px;height: 26px; cursor: pointer;}
#menu_fullscreen span			{background-position: 0 -60px; width: 20px; height: 20px;}
#menu_fullscreen:hover span, 
#menu_fullscreen.active span  	{background-position:-20px -60px; width: 20px; height: 20px;}
#menu_fullscreen.disable span	{background-position:-40px -60px; width: 20px; height: 20px;}	

#close_fullscreen      		  	{width: 27px;height: 26px; cursor: pointer;}
#close_fullscreen span			{background-position: 0 -80px; width: 20px; height: 20px;}
#close_fullscreen:hover span, 
#close_fullscreen.active span  	{background-position:-20px -80px; width: 20px; height: 20px;}
#close_fullscreen.disable span	{background-position:-40px -80px; width: 20px; height: 20px;}	

#bound {
	position:absolute;
	width:100%;
	top:50%;
	display:none;
}
#bound_left     		  		{width: 138px;height: 88px; cursor: pointer;float:left;}
#bound_left span				{background-position: -60px 0; width: 100px; height: 56px;}

#bound_right     		  		{width: 138px;height: 88px; cursor: pointer;float:right;}
#bound_right span				{background-position: -60px -56px; width: 100px; height: 56px;}

/*押下時のアクション*/
#menu_first:active,#menu_prev:active,#menu_next:active,#menu_fullscreen:active,#close_fullscreen:active,#setting:active, #change_mode:active {
	box-shadow:inset 5px 5px 10px rgba(0,0,0,0.7);
}
#menu_first:active,#menu_prev:active,#menu_next:active,#menu_fullscreen:active,#close_fullscreen:active {
	padding:0 5px 0 7px;
	margin: 1px 0 0;
}
#setting:active, #change_mode:active {
	padding:0 9px 0 11px;
	line-height:30px;
}
