@charset "utf-8";

#reader_reader{
  margin:0;
  z-index:100;
}
#menu_bar_reader{
  width: 480px;
  height: 28px;
}

.menu   {position:relative;display:block;margin:0;padding:0;float:left;}
.sprite {background-image: url(ja.pc.png);background-repeat: no-repeat;text-indent:-9999px;overflow: hidden;display:block;}

#progress {
  color:white;
  text-align:center;
  width:100%;
  z-index:10;
  text-indent:0;
  font-size: 90%;
  line-height:28px;
}

#menu_bar_fullscreen {background-image:url(menubar_inside.gif);;background-repeat:repeat; width: 545px; height: 28px;}
#menu_bar_fullscreen_r {background-image:url(menubar_tip.gif);;background-repeat:no-repeat; width: 1px; height: 28px;}
#menu_bar_ex         {background-position: -330px -29px; width: 131px; height: 28px;}
#menu_bar            {background-position: -360px 0;     width: 101px; height: 28px;}

#menu_scene_view         {background-position: 0      -58px; width: 101px;height: 28px; cursor:pointer;}
#menu_scene_view:hover   {background-position: -102px -58px; width: 101px;height: 28px; cursor:pointer;}
#menu_scene_view:active  {background-position: -204px -58px; width: 101px;height: 28px; cursor:pointer;}
#menu_scene_view.disable {background-position: -306px -58px; width: 101px;height: 28px; cursor:default;}

#menu_page_view         {background-position:      0 -116px; width: 101px;height: 28px; cursor:pointer;}
#menu_page_view:hover   {background-position: -102px -116px; width: 101px;height: 28px; cursor:pointer;}
#menu_page_view:active  {background-position: -204px -116px; width: 101px;height: 28px; cursor:pointer;}
#menu_page_view.disable {background-position: -306px -116px; width: 101px;height: 28px; cursor:default;}

#menu_mode_original         {background-position:      0 -145px; width: 101px;height: 28px; cursor:pointer;}
#menu_mode_original:hover   {background-position: -102px -145px; width: 101px;height: 28px; cursor:pointer;}
#menu_mode_original:active  {background-position: -204px -145px; width: 101px;height: 28px; cursor:pointer;}
#menu_mode_original.disable {background-position: -306px -145px; width: 101px;height: 28px; cursor:default;}

#menu_mode_reading         {background-position: 0 -87px;width: 101px;height: 28px;      cursor:pointer;}
#menu_mode_reading:hover   {background-position: -102px -87px;width: 101px;height: 28px; cursor:pointer;}
#menu_mode_reading:active  {background-position: -204px -87px;width: 101px;height: 28px; cursor:pointer}
#menu_mode_reading.disable {background-position: -306px -87px;width: 101px;height: 28px; cursor:default;}

#menu_next        {background-position:     0 -29px;  width: 59px;height: 28px; cursor:pointer;}
#menu_next:hover  {background-position:  -60px -29px; width: 59px;height: 28px; cursor:pointer;}
#menu_next:active {background-position: -120px -29px; width: 59px;height: 28px; cursor:pointer;}

#menu_prev         {background-position: -120px 0;width: 59px;height: 28px; cursor:pointer;}
#menu_prev:hover   {background-position: -180px 0;width: 59px;height: 28px; cursor:pointer;}
#menu_prev:active  {background-position: -240px 0;width: 59px;height: 28px; cursor:pointer;}
#menu_prev.disable {background-position: -300px 0;width: 59px;height: 28px; cursor:default;}

#menu_first         {background-position: 0 0;width: 29px;height: 28px; cursor:pointer;}
#menu_first:hover   {background-position: -30px 0;width: 29px;height: 28px; cursor:pointer;}
#menu_first:active  {background-position: -60px 0;width: 29px;height: 28px; cursor:pointer;}
#menu_first.disable {background-position: -90px 0;width: 29px;height: 28px; cursor:default;}

#menu_fullscreen        {background-position: -240px -29px;width: 29px;height: 28px; cursor:pointer;}
#menu_fullscreen:hover  {background-position: -270px -29px;width: 29px;height: 28px; cursor:pointer;}
#menu_fullscreen:active {background-position: -300px -29px;width: 29px;height: 28px; cursor:pointer;}

#fullscreen_prev         {background-position:    0 -204px;width: 170px;height: 68px; cursor:pointer}
#fullscreen_prev:hover   {background-position: -171px -204px;width: 170px;height: 68px; cursor:pointer}
#fullscreen_prev.disable {background-position: -342px -204px;width: 170px;height: 68px; cursor:default}

#fullscreen_next         {background-position: 0 -273px;width: 170px;height: 68px; cursor:pointer}
#fullscreen_next:hover   {background-position: -171px -273px;width: 170px;height: 68px; cursor:pointer}
#fullscreen_next.disable {background-position: -342px -273px;width: 170px;height: 68px; cursor:default}

#popup_reading   {background-position: -767px 0;width: 218px;height: 249px; cursor:pointer}
#popup_original  {background-position: -548px 0;width: 218px;height: 249px; cursor:pointer}
#popup_scene     {background-position: -549px -251px;width: 195px;height: 159px; cursor:pointer}
#popup_page      {background-position: -756px -250px;width: 195px;height: 159px; cursor:pointer}

#popup_reading {z-index:101;position:absolute;top:230px;left:230px;}
#popup_original {z-index:101;position:absolute;top:230px;left:230px;}
#popup_scene {z-index:101;position:absolute;top:320px;left:260px;}
#popup_page {z-index:101;position:absolute;top:320px;left:260px;}

#fullscreen_page_prev         {background-position:    0   -342px; width: 170px;height: 68px; cursor:pointer}
#fullscreen_page_prev:hover   {background-position: -171px -342px; width: 170px;height: 68px; cursor:pointer}
#fullscreen_page_prev.disable {background-position: -342px -342px; width: 170px;height: 68px; cursor:default}

#fullscreen_page_next         {background-position:      0 -411px; width: 170px;height: 68px; cursor:pointer}
#fullscreen_page_next:hover   {background-position: -171px -411px; width: 170px;height: 68px; cursor:pointer}
#fullscreen_page_next.disable {background-position: -342px -411px; width: 170px;height: 68px; cursor:default}

#close_fullscreen        {background-position: -408px -58px;width: 30px;height: 28px; cursor:pointer;}
#close_fullscreen:hover  {background-position: -439px -58px;width: 30px;height: 28px; cursor:pointer;}
#close_fullscreen:active {background-position: -470px -58px;width: 30px;height: 28px; cursor:pointer;}

#reader_container {
    padding:0;
    margin:0;
    position:relative;
    z-index:10;
}

#reader_container.full {
    background-color: #000000;
    padding:0;
    margin:0;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0
}
#reader_header.full {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    color: #FFF;
    margin:0;
    padding: 4px;
    background: -moz-linear-gradient(top, #666, #000 60%, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#666), color-stop(0.6, #000), to(#000));
    text-align: left;
}
#reader_wrapper.full {
    position: absolute;
    margin:0;
    top:96px;
    width:100%;
    text-align:center;
}

.caption {
    font-size: 120%;
    color:#909090;
    position: relative;
    margin: 8px 4px 8px 4px;
    font-weight: bold;
}
#caption_title {
    font-size: 160%;
    color:#ffffff;
}
#fullscreen_prev, #fullscreen_page_prev  {
    left:5%;top:45%;position:absolute;z-index:99;
}
#fullscreen_next, #fullscreen_page_next {
    right:5%;top:45%;position:absolute;z-index:99;
}

#reader_reader.full {
    position:relative;margin:auto;
}

#menu_bar_reader {
    position:absolute;
    top:480px;
    width:480px;
    padding:0;
    margin:0;
}

#menu_bar_reader.full {
    position:relative;
    bottom:0px;
    top:0px;
    padding:0;
    margin:auto;
    width:100%;
}
#reader_footer.full {
    position:absolute;
    width:100%;
    bottom:0px;
    height:28px;
}
