body {
  font:             12px Arial, sans-serif;
  background-color: #000;
  color:            #fff;
  height:           100%;
  width:            100%;
  margin:           0;
  overflow:         hidden;
  position:         absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}

.stage {
  position: absolute;
  left:     0;
  top:      0;
  height:   100%;
  width:    100%;
  display:  none;
}

.ui {
  z-index: 10;
  cursor: pointer;
}

.mask {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  filter: alpha(opacity =   40);
  opacity: 0.4;
}

.msg {
   z-index: 20;
   padding: 4px 12px 4px 12px;
   color: white;
   font-size: 140%;
   text-indent: 0px;
   margin:8px 12px 8px 12px;
   position: absolute;
   top:0;
   left:0;
}

.large_msg_recommend_login {
	z-index: 20;
	color: white;
 	font-size: 140%;
	text-indent: 0px;
	margin:8px 12px 8px 12px;
	position: absolute;
	top:0;
	left:0;
}
.large_msg_recommend_login h4 {
	text-align: center;
	margin: 60px 0px 40px;
	font-size: 18px;
}
.large_msg_recommend_login p {
	margin:0 0 40px;
}
.large_msg_recommend_login .image_area {
	float:left;
	padding:0 18px;
}
.large_msg_recommend_login .image_area img {
	height: 200px;
	width:200px;
	float: left;
	margin-right: 20px;
}
.large_msg_recommend_login .button_area {
	text-align:center;
}
.large_msg_recommend_login .button_area a {
	display:inline-block;
	height: 44px;
	line-height: 48px;
	width: 200px;
	margin: 0px 12px;
	text-decoration:none;
	background:#FDFDFD;
	background: -moz-linear-gradient(top, #FDFDFD 0%, #F1F1F2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#F1F1F2));
	background: -webkit-linear-gradient(top, #FDFDFD 0%,#F1F1F2 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%,#F1F1F2 100%);
	background: linear-gradient(top, #FDFDFD 0%,#F1F1F2 100%);
	background-image: url("/img/ja_pc/gradient.svg");
	border: 1px solid #B3B3B3;
	color: #333;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
/*IE8ハック*/
.large_msg_recommend_login .button_area a {
	background-color:#FDFDFD\9;
}
.large_msg_recommend_login .button_area a:hover {
	text-decoration:underline;
}
.large_msg_recommend_login a.green_button {
	color: #FFF;
	border: 1px solid #24B121;
	background:#3CAC17;
	background: -moz-linear-gradient(top, #B2DD2E  0%, #3CAC17 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B2DD2E ), color-stop(100%,#3CAC17));
	background: -webkit-linear-gradient(top, #B2DD2E  0%,#3CAC17 100%);
	background: -ms-linear-gradient(top, #B2DD2E  0%,#3CAC17 100%);
	background: linear-gradient(top, #B2DD2E  0%,#3CAC17 100%);
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2OSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0IyREQyRSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzNDQUMxNyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzY5KSIgLz4KPC9zdmc+);
	text-shadow: 1px 1px 3px #000; /*CSS3*/
	-moz-text-shadow: 1px 1px 3px #000; /* Firefox用*/
	-webkit-text-shadow: 1px 1px 3px #000; /* Google Chrome, Safari用*/
}
/*IE8ハック*/
.large_msg_recommend_login a.green_button {
	background-color:#3CAC17\9;
}

.vhcenter {
  width:  100%;
  height: 100%;
}

#mangh5r {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  zoom: 1;
}

#preview {
  z-index: 1;
}

#preview_ui {
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

#preview_ui .preview_btn {
  position: absolute;
}

#start_ui {
    position: absolute;
    width:100%;
    top: 50%;
}
#start {
    position: relative;
    margin: auto;
}


#thumbnail {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

#dialog{
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 50%;
}

#dialog_loading {
  z-index: 10;
  position: relative;
  margin:auto;
}

#loading .message {
  color: white;
  font-size: 140%;
  padding: 8px 4px;
  background-color: black;
  border-style: solid;
  border-width: thin;
}

#reader {
  z-index: 1;
}

#canvas {
  z-index: 2;
  cursor: pointer;
  display:block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#reader *{
    cursor: pointer;
}

#unloaded {
  z-index: 10;
  cursor: wait;
}

#info {
  z-index: 9;
}

#finish {
  z-index: 8;
}

#finish_ui {
    z-index: 9;
    position: absolute;
    width:480px;
	left:50%;
	margin-left: -240px;
    bottom:   10%;
}

.left {
	float:left;
}
.right {
	float:right;
}
#menu {
    position:         absolute;
    z-index:          10;
    left:             0;
    top:              0;
    width:            100%;
    display:          block;
    text-align:       center;
    margin:           0;
    background-color: rgba(0,0,0,0.75);
    filter:           alpha(opacity = 75);
}

#menu_upper {
    position:relative;
    width:100%;
	margin-top: 8px;
	z-index:2;
}
#menu_upper .no_border{
	float:left;
}
#menu_upper .left {
	
}
#menu_upper .right {
	margin-right: 8px;
}
#menu_lower {
    position:         relative;
    width:            100%;
}
#swipe {
	position:absolute;
	z-index:2;
	width:100%;
	max-width:480px;
	bottom: 5%;
}
#swipe .left, #swipe .right {
	display:none;
}

#setting {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    left;
	margin: 10px 8px 0px 8px;
}

#change_mode {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    right;
	margin: 10px 8px 0px 8px;
}

#prev_scene {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    left;
    margin: 10px 8px 10px 8px;
}

#prev_page {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    left;
    margin: 10px 8px 10px 8px;
}

#first_scene {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    right;
    margin: 10px 8px 10px 8px;
}

#menu_switch {
    position:absolute;
    width: 100%;
    height: 20%;
    z-index:9;
}

#menu_center {
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    top:0;
    left:0;
	z-index:1;
}
#menu_tab_close {
    z-index:12;
    position: relative;
    margin:auto;
}
#menu_tab_wrap {
    position:absolute;
    width:100%;
    bottom: 5%;
    left: 0px;
}

#next {
    z-index:  14;
    position: relative;
    margin: auto;
}

#finish_actions {
    position: relative;
    text-align: center;
    margin: auto;
}

#finish_social_actions {
    margin:auto;
    width:100%;
    height:100%;
}
#vote {
    z-index:  14;
    position: relative;
    float:    right;
    margin:   8px 16px 8px 0px;
}
#bookmark {
    z-index:  14;
    position: relative;
    float:    left;
    margin:   8px 0px 8px 16px;
}

#progress {
    z-index: 10;
    width: 100%;
    color:       white;
    font-size:   200%;
    font-weight: bold;
    top: 60%;
    left:0px;
    position: absolute;
}

#error {
    z-index: 10;
}

#dialog_error{
    z-index: 10;
}

#story_title_insert{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 20;
}

#story_title_items{
  font-size: 400%;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}
#ad_cover {
	display:none;
	position:absolute;
	z-index: 11;
	width:100%;
	height:100%;
	background:#000;
	background:rgba(0,0,0,0.8);
}
#ad_area {
	padding:13px 13px 0;
	position:absolute;
	z-index: 12;
	background:#000;
	top:50%;
	left:50%;
}
div.top_button {
	padding-top:20px !important;
}	
#ad_area .go_premium {
	font-size:13px;
	color:#FFF;
	text-decoration:underline;
	margin-bottom:13px;
	display: inline-block;
}
#ad_area a:hover {
	text-decoration:none;
}
#ad_area .area {
	margin-bottom:13px;
}
#ad_area #close_ad  {
	margin:0 auto 13px;
}
#ad_area span.top_button {
	position:absolute;
	top:13px;
	right:13px;
}
