body {
  font:             12px Arial, sans-serif;
  background-color: #000;
  color:            #fff;
  height:           100%;
  width:            100%;
  margin:           0;
  overflow:         hidden;
  position:         absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}

.stage {
  position: absolute;
  left:     0;
  top:      0;
  height:   100%;
  width:    100%;
  display:  none;
}

.ui {
  z-index: 10;
  cursor: pointer;
}

.mask {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  filter: alpha(opacity =   40);
  opacity: 0.4;
}

.msg {
   z-index: 20;
   padding: 4px 12px 4px 12px;
   color: white;
   font-size: 140%;
   text-indent: 0px;
   margin:8px 12px 8px 12px;
   position: absolute;
   top:0;
   left:0;
}

.vhcenter {
  width:  100%;
  height: 100%;
}

#mangh5r {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

#preview {
  z-index: 1;
}

#preview_ui {
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

#preview_ui .preview_btn {
  position: absolute;
}

#start_ui {
    position: absolute;
    width:100%;
    top: 50%;
}
#start {
    position: relative;
    display: block;
    margin: auto;
}


#thumbnail {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

#dialog{
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 50%;
}

#dialog_loading {
  z-index: 10;
  position: relative;
  margin:auto;
}

#loading .message {
  color: white;
  font-size: 140%;
  padding: 8px 4px;
  background-color: black;
  border-style: solid;
  border-width: thin;
}

#reader {
  z-index: 1;
}

#canvas {
  z-index: 2;
  cursor: pointer;
  display:block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#reader *{
    cursor: pointer;
}

#unloaded {
  z-index: 10;
  cursor: wait;
}

#info {
  z-index: 9;
}

#finish {
  z-index: 8;
}

#finish_ui {
    z-index: 9;
    position: absolute;
    width:100%;
    bottom:   10%;
}

#menu {
    position:         absolute;
    z-index:          10;
    left:             0;
    top:              0;
    width:            100%;
    display:          block;
    text-align:       center;
    margin:           0;
    background-color: rgba(0,0,0,0.75);
    filter:           alpha(opacity = 75);
}

#menu_upper {
    position:         relative;
    width:            100%;
}
#menu_lower {
    position:         relative;
    width:            100%;
}

#toggle_reading, #toggle_original {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    left;
}

#toggle_scene_view, #toggle_page_view {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    right;
}

#prev_scene {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    left;
    margin:   4px 8px 4px 8px;
}

#prev_page {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    left;
    margin:   4px 8px 4px 8px;
}

#first_scene {
    z-index:  12;
    position: relative;
    top:      0px;
    float:    right;
    margin: 4px 8px 4px 8px;
}

#menu_switch {
    position:absolute;
    width: 100%;
    height: 20%;
    z-index:9;
}

#menu_center {
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    top:0;
    left:0;
}
#menu_tab {
    z-index:12;
    position: relative;
    margin:auto;
}
#menu_tab_wrap {
    position:absolute;
    width:100%;
    bottom: 10%;
    left: 0px;
}

#next {
    z-index:  14;
    position: relative;
    margin: auto;
}

#finish_actions {
    position: relative;
    text-align: center;
    margin: auto;
}

#finish_social_actions {
    margin:auto;
    width:100%;
    height:100%;
}
#vote {
    z-index:  14;
    position: relative;
    float:    right;
    margin:   8px;
}
#bookmark {
    z-index:  14;
    position: relative;
    float:    left;
    margin:   8px;
}

#progress {
    z-index: 10;
    width: 100%;
    heght:100%;
    color:       white;
    font-size:   120%;
    font-weight: bold;
    top: 50%;
    left:0px;
    position: absolute;
}

#error {
    z-index: 10;
}

#dialog_error{
    z-index: 10;
}

#story_title_insert{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 20;
}

#story_title_items{
  font-size: 400%;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

