body {
	font: 12px Arial, sans-serif;
	background-color: #333;
	color: #fff;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: fixed;
}

.stage {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.ui {
	z-index: 10;
	cursor: pointer;
}

.mask {
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	filter: alpha(opacity =   40);
	opacity: 0.4;
}

.msg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    padding: 4px 12px 4px 12px;
    color: white;
    font-size: 140%;
}

#mangh5r {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#preview {
	z-index: 1;
}

#preview_ui {
    z-index: 10;
    position: absolute;
}

#thumbnail {
    z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#loading {
	z-index: 10;
	cursor: wait;
}

#reader {
	z-index: 1;
}

#canvas {
	z-index: 2;
	cursor: pointer;
	display:block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#reader *{
    cursor: pointer;
}

#unloaded {
	z-index: 10;
	cursor: wait;
}

#info {
	z-index: 9;
}

#finish {
	z-index: 10;
}

#finish_ui {
    z-index: 11;
    position: absolute;
}


#error {
	z-index: 10;
}

.sprite_button {
    display: block;
    cursor:pointer;
    padding:0px;
    margin: 4px 4px 4px;
}

span#read {
	background: url(ja.png) -0 -0;
	width:141px;
	height:45px;
}

span#read:hover {
    background: url(ja.png) -141px -0px;
    width:141px;
    height:45px;
}

span#read:active {
    background: url(ja.png) -282px -0px;
    width:141px;
    height:45px;
}


span#next {
    background: url(ja.png) -0px -45px;
    width:141px;
    height:45px;
}

span#next:hover {
    background: url(ja.png) -141px -45px;
    width:141px;
    height:45px;
}

span#next:active {
    background: url(ja.png) -282px -45px;
    width:141px;
    height:45px;
}

span#onemore {
    background: url(ja.png) -0px -90px;
    width:140px;
    height:22px;
}

span#onemore:hover {
    background: url(ja.png) -141px -90px;
    width:140px;
    height:22px;
}

span#onemore:active {
    background: url(ja.png) -282px -90px;
    width:140px;
    height:22px;
}

span#vote {
    background: url(ja.png) -0px -112px;
    width:141px;
    height:45px;
}

span#vote:hover {
    background: url(ja.png) -141px -112px;
    width:141px;
    height:45px;
}

span#vote:active {
    background: url(ja.png) -282px -112px;
    width:141px;
    height:45px;
}

span#bookmark {
    background: url(ja.png) -0px -157px;
    width:141px;
    height:45px;
}

span#bookmark:hover {
    background: url(ja.png) -141px -157px;
    width:141px;
    height:45px;
}

span#bookmark:active {
    background: url(ja.png) -282px -157px;
    width:141px;
    height:45px;
}

